<script src="~/Scripts/jquery-2.2.1.min.js"></script>
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (@ViewBag.GameId == null)
            return;
        var actionUrl = '@Url.Action("GetById", "Games", new { gameId = @ViewBag.GameId })';
        $.getJSON(actionUrl, displayData);
    });
    
    function displayData(response) {
        $("input[name*='Name']").val(response.Name);
        $("input[name*='Key']").val(response.Key);
        $("input[name*='Description']").val(response.Description);
    }
</script>

<h3>Game details</h3>
<div>
    @*@ViewBag.GameId*@
    
    @using (Ajax.BeginForm("Remove", new AjaxOptions { }))
    {
        <input type="hidden" name="gameId" value=@ViewBag.GameId />
        <input type="submit" value="Remove game" />
    }
    
    @using (Ajax.BeginForm("Download", new AjaxOptions { }))
    {
        <input type="hidden" name="gameId" value=@ViewBag.GameId />
        <input type="submit" value="Download" />
    }

    @using (Ajax.BeginForm("Update", new AjaxOptions { }))
    {
        <input type="hidden" name="Id" value=@ViewBag.GameId />
        @Html.Label("Name")
        <input type="text" name="Name"/>
        @Html.Label("Description")
        <input type="text" name="Description"/>
        @Html.Label("Key")
        <input type="text" name="Key"/>
        
        <input type="submit" value="Update" />
    }

    <div id="GameComments">
        @Ajax.ActionLink("Show comments", "Comments", "Comment",new {gameId = @ViewBag.GameId}, 
                        new AjaxOptions
                        {
                            UpdateTargetId = "GameComments",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })
    </div>

    @*@using (Ajax.BeginForm("Comments", "Comment", new AjaxOptions { UpdateTargetId = "GameComments" }))
    {
        <input type="hidden" name="gameId" value=@ViewBag.GameId />
        <input type="submit" value="Show comments" />
    }*@

</div>